{% extends 'base.html.twig' %}


{% block body %}

    <h2>index admin</h2>

    <ul>
        {% for log in logs %}
            <li>
                {{ log.log }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
