{% extends 'base.html.twig' %}


{% block body %}

    <h2>index Card</h2>

    <ul>
        {% for card in cards %}

            <li>
                {#
                {% if is_granted('app_card_show', card) == true %}
                    {{ card.name }} - <a href="{{ path('card_show', {'id': card.id}) }}">Show</a>
                {% endif %}
                #}
                {{ card.name }} - <a href="{{ path('card_show', {'id': card.id}) }}">Show</a>

            </li>

        {% endfor %}
    </ul>
{% endblock %}
