{% extends 'base.html.twig' %}


{% block body %}

    <h2>index Card</h2>
    <ul>
        {% for card in cards %}

            <li>
                {{ card.name }} -
                <a href="{{ path('app_card_show', {'id': card.id}) }}">Show</a>
                <a href="{{ path('app_usercard_new', {'id': card.id}) }}">add in my deck</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
