<ul>
    <li><a href="{{ path('home_index') }}">Index</a></li>
    <li><a href="{{ path('admin_index') }}">Admin</a></li>
    <li><a href="{{ path('skin_index') }}">index skin</a></li>
    <li><a href="{{ path('logout') }}">Déconnexion</a></li>

</ul>