<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block flashbag %}
            {% include 'flash.html.twig' %}
        {% endblock flashbag %}
        {% block menu %}
            {% include 'menu.html.twig' %}
        {% endblock menu %}
        {% block body %}{% endblock body %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
